@import 'base';
@import 'nav';
@import 'cards';
@import 'contact';
@import 'mobile';

body {
  background-color: #f7fe72;
}

.button {
  background-color: #44ccff;
  border: 0.5px solid black;
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  color: white;
  float: right;
}

.item-photo {
  width: 50%;
  height: 70%;
  padding: 2%;
}

.read {
  margin-top: 75px;
}