@import 'base';
@import 'nav';
@import 'cards';
@import 'contact';
@import 'mobile';
@import 'buttons';

body {
  background-color: #f5eccd;
}

p {
  font-family: 'Niramit', sans-serif;
}


.item-photo {
  width: 50%;
  height: 70%;
  padding: 2%;
}