@import 'base';
@import 'nav';
@import 'cards';
@import 'contact';
@import 'blog';
@import 'buttons';
@import 'fonts';

body {
  background-color: #f5eccd;
}

.item-photo {
  width: 50%;
  height: 70%;
  padding: 2%;
}