/* Baseline reset */
html {
  box-sizing: border-box;
  font-size: 16px; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  background-color: #feffff;
  color: rgba(0, 0, 0, 0.78);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
  line-height: 1.64rem;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.89); }

article {
  padding: 2rem 1rem; }

@media screen and (max-width: 35rem) {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #62D15A; }
  li a {
    display: block;
    color: white;
    padding: 20px 20px;
    text-decoration: none; }
  li {
    text-align: center;
    border-bottom: 1px solid black; } }

@media screen and (min-width: 35rem) {
  nav {
    width: 70%;
    max-width: 100%;
    min-width: 100%; }
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #489942; }
    nav li {
      border-right: 1px solid black;
      color: white;
      float: left;
      border-right: 0;
      width: 33.3%; }
    nav li:last-child {
      border-right: none;
      overflow: hidden; }
    nav li a {
      display: block;
      border: 1px solid black;
      color: white;
      text-align: center;
      padding: 20px 24px;
      text-decoration: none;
      background-color: #489942;
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }
    nav li a:hover {
      background-color: #AEE8AA; } }

@media screen and (max-width: 35rem) {
  .row {
    padding-left: 1%;
    padding-right: 1%; }
  .card {
    width: 100%;
    height: 260px;
    background: #A3EAFF;
    position: relative;
    border: 1px solid black;
    display: flex;
    flex-direction: row; }
  .card:nth-child(odd) {
    background-color: #FFB2FF; }
  .button {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #991C2A;
    border: 0.5px solid black;
    color: white;
    width: 40%;
    height: 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 80%;
    left: 55%; }
  img {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: cl; }
  .bio {
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10px; }
    .bio .bio h2 {
      font-size: 1.5rem; }
    .bio .bio p {
      font-size: 1.1rem; } }

@media screen and (max-width: 35rem) {
  form {
    font-family: serif;
    font-size: 1rem;
    padding-left: 1%; }
  .forms {
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    padding-left: 1%;
    background: white; }
  input[type=text] {
    border: 1px solid black;
    width: 40%;
    display: block; }
  input[type=email] {
    display: block;
    width: 60%;
    height: 20px;
    border: 1px solid black; }
  .news {
    padding-bottom: 10px;
    padding-top: 7px; }
  textarea {
    min-width: 70%;
    max-width: 70%;
    width: 70%;
    min-height: 80px;
    max-height: 80px;
    height: 80px;
    display: block;
    border: 2px solid black; }
  input[type=submit] {
    background-color: #9C95CC;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer; }
  .order {
    font-size: 1.5rem;
    padding-bottom: 20px;
    padding-top: 40px;
    font-family: sans-serif; }
  iframe {
    width: 100%;
    height: 400px; }
  label,
  input {
    font-family: sans-serif; } }
